<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
</head>
<link rel="stylesheet" href="../style.css">
<body>
    
    <div class ="container">

        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>   <a href="https://api.whatsapp.com/send/?phone=573153801813&text=Hola%2C+necesito+informaci%C3%B3n&type=phone_number&app_absent=0">
                <img src="../img/img_boton.png"  style="width: 40px; float: left;"  alt="">
            </a>
                </ul>
            </nav>
        </header>

        <main>
        <img src="../img/img_contacto.jpg" alt="">
        <div class="main_principal">
            <H2>Bienvenido a mi pagina de contactos</H2>
            
            <a href="https://api.whatsapp.com/send/?phone=573153801813&text=Hola%2C+necesito+informaci%C3%B3n&type=phone_number&app_absent=0">
                <img src="../img/img_boton.png"  style="width: 40px; float: right;"  alt="">
            </a>
          
            <h2>Para comunicarse con un asesor de clic en la imagen de whatsapp</h2>

        <p> Esto es un parrafo dentro del divisor</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ratione culpa temporibus aperiam eius dolores velit perferendis, maxime, accusantium explicabo adipisci error. Culpa deleniti facere quia cumque numquam obcaecati ut.</p>
        </div>
        </main>

        <form action="/action_page.php">
        <label for="fname">Usuario</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Contraseña</label>
        <input type="password" id="lname" name="lastname" placeholder="Your pasword..">

        <label for="country">Rol</label>
        <select id="country" name="country">
        <option value="australia">Administrador</option>
        <option value="canada">Jefe</option>
        <option value="usa">Secretaria</option>
        </select>
  
  <input type="submit" value="Submit">
</form>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.880537957408!2d-73.59820752647964!3d8.314668699764423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8f7d244d11d1%3A0xf006f6b549705385!2sAcceso%20Universidad%20UPC%2C%20Aguachica%2C%20Cesar!5e0!3m2!1ses!2sco!4v1773434097837!5m2!1ses!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
        <footer>
            <p style="text-align: center;">
                <a href="https://www.facebook.com/?locale=es_LA"><img src="../img/boton_facebook.png" alt="" width="40px"></a>
                <a href="https://www.facebook.com/?locale=es_LA"><img src="../img/boton_instagram.png" alt="" width="40px"></a>
                <a href="https://www.facebook.com/?locale=es_LA"><img src="../img/boton_pinteres.png" alt="" width="40px"></a>
            </p>

            
        </footer>
    </div>
</body>
</html>