<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
</head>
<link rel="stylesheet" href="../style.css">
<body>
    
    <div class ="container">

        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="contactos.html">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main>
        <img src="../img/img_productos.jpg" alt="">
        <div class="main_principal">
            <H2>Bienvenido a mi pagina de Productos</H2>

           <iframe width="100%" height="315" src="https://www.youtube.com/embed/RX0VtkQOddw?si=31bn64RBw_hHo9LE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <p> Esto es un parrafo dentro del divisor</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ratione culpa temporibus aperiam eius dolores velit perferendis, maxime, accusantium explicabo adipisci error. Culpa deleniti facere quia cumque numquam obcaecati ut.</p>
        </div>
        </main>

        <footer>
            <p>Pie de mi pagina web</p>
        </footer>
    </div>
</body>
</html>