<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
</head>
<link rel="stylesheet" href="../style.css">
<body>
    
    <div class ="container">

        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main>
        <img src="../img/img_servicios.jpg" alt="">
        <div class="main_principal">
            <H2>Bienvenido a mi pagina de servicios</H2>

            <video src="../videos/video_prueba.mp4" controls width="100%" autoplay></video>

        <p> Esto es un parrafo dentro del divisor</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ratione culpa temporibus aperiam eius dolores velit perferendis, maxime, accusantium explicabo adipisci error. Culpa deleniti facere quia cumque numquam obcaecati ut.</p>
        </div>
        </main>

        <footer>
            <p>Pie de mi pagina web</p>
        </footer>
    </div>
</body>
</html>